.test-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.test-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.test-details {
  margin-bottom: 4px;
  color: #000;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  margin-left: 2%;
}
.test-list p {
  margin-left: 4%;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.test-list span {
  margin-left: -2%;
  margin-top: 3%;
}
